.genie-help-ui-command-border {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.genie-help-ui-highlighter {
    z-index: 2147483646 !important;
}

.genie-help-ui-tooltip {
    display: none;
}