.genie-shortcut-ui {
    background: #f5f5f5;
    color: #3277B2 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    left: 4%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    text-align: center;
    top: 6em;
    width: 92%;
    z-index: 1011;
    box-shadow: #428bca 0px 0px 1px 0px;
    border-radius: 2px;
    padding: 10px;
}

.genie-shortcut-ui-content {
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
    width: 100%;
}

.genie-shortcut-ui-header {
    display: flex;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10p;
    border-bottom: 1px solid white;
}

.genie-shortcut-ui-header-label {
    display: flex;
    flex: 1;
    color: black;
    font-weight: bold;
}

.genie-shortcut-ui-header-close {
    cursor: pointer;
    text-decoration: underline;
    color: black;
    font-weight: bold;
}

.genie-shortcut-ui-group-label {
    color: black;
}

.genie-shortcut-ui-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.genie-shortcut-ui-group-shortcuts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    min-width: 50px;
    max-width: 25%;
}

.genie-shortcut-ui-group-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 75%;
}

.genie-shortcut-ui-command {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.genie-shortcut-ui-command > span, 
.genie-shortcut-ui-group-shortcuts > span {
    color: #3277B2 !important;
}

.genie-shortcut-ui-command-label,
.genie-shortcut-ui-arguments-span {
    font-weight: bold;
}

.genie-shortcut-ui-command-label {
    margin-right: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50%;
}

.genie-shortcut-ui-command-description {
    white-space: nowrap;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.genie-ui-input-canvas {
    background: none;
}