.action-search {
    width: 300px;
    height: 900px;
    margin-left: 10px;

    background-color: white;
    box-shadow: rgb(126, 126, 126) 1px 1px 1px 1px;
    border-radius: 3px;
    overflow: auto;
    padding-top: 10px;
    font-family: 'Lucida Grande', sans-serif;
    font-size: 10pt;
    z-index: 10000000;
    position: absolute;
}

.action-search-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.action-search-list-item {
    margin: 0;
    list-style-type: none;
    border-bottom: 0.5px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    cursor: pointer;
    font-size: 10pt;
    display: flex;
    flex-direction: column;
}

.action-search-header {
    padding-left: 10px; 
    padding-bottom: 10px;
}

.action-search-header, .action-search-label {
    font-weight: bold;
}

.action-search-modifier {
    color: grey;
    float: right;
    margin-right: 10px;
}

.action-search-disabled {
    color: white; 
    background-color: lightgray;
}

.action-search-tags {
    font-size: 9pt; 
    color: grey;
}