.dependencies {
    background-color: lightgray; 
}

.dependent-commands {
    margin-top: 10px;
    background-color: lightblue; 
}

.external-functions{
    margin-top: 10px;
    background-color: lightgreen; 
}

// Layout it out nicely
.layout-horizontal {
    display: flex;
    flex-direction: row;
}
